module_alfresco/src/main/java/com/atolcd/auditshare/repo/xml/ReferentielGroups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="referentiel-groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="group" maxOccurs="unbounded" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id"/>
        <xs:element type="xs:string" name="libelle"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>